
* {
    border: none;
    border-radius: 0;
    font-family: "GoMonoNerdFont";
    font-size: 26px;
    min-height: 0;
    margin: -1;
}

#waybar {
    background-color: #2A4C4D;
    color: #ffffff;
}

#workspaces button {
    padding: 1px 10px;
    background: transparent;
    color: white;

}

#workspaces button.visible {
    color: white;
    background: #60938E;
}

#clock {
    padding: 0px 10px;
}
